<script id="sc_CardFormation_White" type="text/x-jquery-tmpl">
    <div style="left: ${X}px; top: ${Y}px; width: ${W}px; height: ${H}px; position: absolute;" 
            class="divTarotCard" index='${SortIndex}' Describe='${Describe}'> 
        <div style="position: relative;">
            <div style="width: 15px; height: 15px; position: absolute; z-index: 40; background-color: white; line-height:15px;">
             ${SortIndex} 
            </div>
            
        </div>
    </div>
</script>
<script id="sc_CardFormation_Desc" type="text/x-jquery-tmpl">
    ${SortIndex},&nbsp;&nbsp;${Describe}<br />
    
</script>
@*<img style="width: 100%;" src="../../content/images/tarotcard/bg.jpg">*@
