<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <appSettings>
      <add key="DBType" value="Model"/>
      <!--使用sqlserver-->
      <add key="CurrentApplicationID" value="1"/>

	  <add key="MongdbServer" value="Server=127.0.0.1"/>
	  <add key="CacheDependencyFile" value="D:\TarotCacheDependency.txt"/>
	  <add key="TarotServices" value="http://tarotServices.taluo.com/"/>
	  <add key="SysCardF" value="G:\work\Tarot\Tarot\Tarot\Content\Images\SysCardF\"/><!--系统牌阵存放-->
	  <add key="TarotWebSite" value="G:\work\Tarot\Tarot\Tarot\"/><!--网站根目录-->
  </appSettings>
  <connectionStrings>
    <!--<add name="AuthExamEntities" connectionString="metadata=res://*/Model.Auth.csdl|res://*/Model.Auth.ssdl|res://*/Model.Auth.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Tarot;Persist Security Info=True;User ID=sa;Password=sa1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
      <add name="UserManagerExamEntities" connectionString="metadata=res://*/Model.UserManager.csdl|res://*/Model.UserManager.ssdl|res://*/Model.UserManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Tarot;Persist Security Info=True;User ID=sa;Password=sa1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->

    <add name="AuthEntities" connectionString="metadata=res://*/Model.Auth.csdl|res://*/Model.Auth.ssdl|res://*/Model.Auth.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Tarot;Persist Security Info=True;User ID=sa;Password=sa1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="UserManagerExamEntities" connectionString="metadata=res://*/Model.UserManager.csdl|res://*/Model.UserManager.ssdl|res://*/Model.UserManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Tarot;Persist Security Info=True;User ID=sa;Password=sa1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TarotEntities" connectionString="metadata=res://*/Model.Tarot.csdl|res://*/Model.Tarot.ssdl|res://*/Model.Tarot.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Tarot;Persist Security Info=True;User ID=sa;Password=sa1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login"  timeout="30"  defaultUrl="~/home/index" />
    </authentication>
    <authorization>
      <deny users="?"/>  
    </authorization>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
        <add namespace="System.Data.Entity"/>
        <add namespace="Lib"/>
        <add namespace="Lib.ClassExt"/>
        <add namespace="Lib.Utils"/>
      </namespaces>
    </pages>
  </system.web>

  <location path="Content">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Home/ValidateDemo">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
