<div class="div_hot">
    <span><a class="A_Title">塔罗牌入门宝典</a></span>
    <div>
        [什么是塔罗牌] [22张主牌介绍] [占卜步骤] [塔罗牌知识] 
    </div>
    <hr style="border: 1px dotted lightgray" />
</div>
<div class="div_hot">
    <span><a class="A_Title">塔罗牌入门宝典</a></span>
    <div>
        [什么是塔罗牌] [22张主牌介绍] [占卜步骤] [塔罗牌知识] 
    </div>
    <hr style="border: 1px dotted lightgray" />
</div>
<br />

<div class="div_News">
<span><a style=" font-size:14px;">塔罗牌动态</a></span>
    <ul>
        <li>[本站动态]塔罗牌的洗牌和切牌塔罗牌的洗牌和切牌</li>
        <li>[本站动态]塔罗牌的洗牌和切牌塔罗牌的洗牌和切牌</li>
        <li>[本站动态]塔罗牌的洗牌和切牌塔罗牌的洗牌和切牌</li>
        <li>[塔罗新闻]占卜你的姻缘何处来</li>
        <li>[塔罗新闻]占卜你容易失业吗</li>
        <li>[塔罗新闻]塔罗占卜你会当老板？</li>
        <li>[塔罗新闻]塔罗牌占卜解牌者守则</li>
        <li>[塔罗新闻]塔罗牌为什么会那么准</li>
    </ul>
</div>
<div style="text-align:right; clear:both">
    <a href="@Url.Content("~/postlist/news")">更多>></a>
</div>
<br />
<div class="div_articleList">
<span><a style=" font-size:14px;">塔罗牌推荐阅读</a></span>
    <ul>
        <li>塔罗牌的洗牌和切牌</li>
        <li>塔罗师的级别有几种</li>
        <li>占卜你最近会被骗吗</li>
        <li>占卜你的姻缘何处来</li>
        <li>占卜你容易失业吗</li>
        <li>塔罗占卜你会当老板？</li>
        <li>塔罗牌占卜解牌者守则</li>
        <li>塔罗牌为什么会那么准</li>
    </ul>
</div>

<div style="text-align:right; clear:both">
    <a href="@Url.Content("~/postlist/articleList")">更多>></a>
</div>

