<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TarotEntities" connectionString="metadata=res://*/Model.Tarot.csdl|res://*/Model.Tarot.ssdl|res://*/Model.Tarot.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Tarot;Persist Security Info=True;User ID=sa;Password=sa1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>