<div style="float: left; border: 0px solid red; width: 300px; margin:10px 0px 0px 10px;">
    <div style="display:block; background-color:#E6EFF4;padding:10px; margin-bottom:20px;">
        <h2 style="color:#BB4800; font-size:20px;">关于本站</h2>
        <p>
            这是一个关于塔罗牌的网站
            <br />
            这是一个塔罗爱好者的家园
            <br />
            这是一个让迷惑者清楚的地方
            <br />
            这是一个以塔罗牌的名义传播爱的地方.
            <br />
            这也是大家的私人小花园. 
            <br />
            希望能给网友们带来乐趣
            <br />
            如果您有一些<b style="color:Red; font-size:16px;"> 意见或者建议</b>, 欢迎
            <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=OExZVE1XVFlRVF14XldAVVlRVBZbV1U" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_12.png"/></a>
        </p>
    </div>
    <div style="display:block; background-color:#E6EFF4;padding:10px;">
        <h2 style="color:#BB4800; font-size:20px;">标签</h2>
        <style>
            .A_CustomerTag{font-size:15px;}
        </style>
        @Html.Raw(BLL.StaticData.CustomerTag)
    </div>
</div>