<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="conn" value="Data Source=.;Initial Catalog=Tarot;Persist Security Info=True;User ID=sa;Password=sa1234;timeout=240"/>
    <add key="ErrorEmails" value="mycooldog@foxmail.com;jianjialin@tom.com"/>
    <add key="MongdbServer" value="Server=127.0.0.1"/>
    <add key="CacheDependencyFile" value="D:\wwwwr\TarotCacheDependency.txt" />
    <add key="Interval" value="10000" />
  </appSettings>
  <connectionStrings>
    <add name="TarotEntities" connectionString="metadata=res://*/MyTask.csdl|res://*/MyTask.ssdl|res://*/MyTask.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Tarot;Persist Security Info=True;User ID=sa;Password=sa1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
