@{
    ViewBag.Title = "About";
}
<script type="text/javascript">
    var t = [
                {
                    text: '权限管理', url: '',
                    children:
                        [
                            { text: '用户管理', url: '/usermanager/userlist' },
                            { text: '角色管理', url: '/auth_rolemanager/list' }
                        ]
                }
                ];
</script>
<h2>About</h2>
