@{
    ViewBag.Title = "ChangePassword";
}
<h2>更改密码</h2>
<p>
    请使用以下表单更改密码。 
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <div>
        <fieldset>
            <legend>帐户信息</legend>

            <div class="editor-label">
                用户名
            </div>
            <div class="editor-field">
                @ViewBag.UserName
            </div>
            <br />
            <div class="editor-label">
                密码
            </div>
            <div class="editor-field">
                <input type="password" id="p1" maxlength="20" name="p1" />
            </div>
            <br />
            <div class="editor-label">
            确认密码
            </div>
            <div class="editor-field">
                <input type="password" id="p2" maxlength="20" name="p2" />
            </div>

            <p>
                <input type="submit" value="更改密码" /><a href="/home/index">回到首页</a>
            </p>
        </fieldset>
    </div>
}
<script type="text/javascript">
    function ValidateForm() {
        //更多validate验证方法见 jquery.validate.MethodsExt.js
        $("form").validate({
            rules: {
                'p1': { required: true, maxlength: 20, minlength: 5 },
                'p2': { required: true, minlength: 5, equalTo: "#p1" },
            }
        });
    }
    $("document").ready(function () {
        ValidateForm();
    });
</script>
