@{
    ViewBag.Title = "findPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div style="float: left; width: 60%;">
        <h2>
            找回密码</h2>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, "")
            <div>
                <fieldset>
                    <div class="editor-label">
                        请输入用户名
                    </div>
                    <div class="editor-field">
                        <input type="text" name="txtUsername" />
                    </div>
                    <br />
                    <div class="editor-label">
                        验证码
                    </div>
                    <div class="editor-field">
                        <input type="text" name="imgcode" />
                        <img title="点击更换图片" src="/shared/ValidateImage" onclick="javascript:this.src='/shared/ValidateImage?'+Math.random()" />
                    </div>
                    <p>
                        @if (IsPost) { 
                            @ViewBag.Message
                        }
                        <input type="submit" value="OK" /><a href="/home/index" style="margin-left:20px;">回到首页</a>
                    </p>
                </fieldset>
            </div>
        }
    </div>
    <div style="float: right;  background-color: #F7F7F7;
        display: table; height: 400px; border: 1px solid #E3EEF8 ; width:36%; ">
        
    </div>
    <div style="clear: both">
    </div>
</div>
